<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619675881357-shd4jpqjlaammmq3t2qp4e5vjf1sg99p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619675881357-shd4jpqjlaammmq3t2qp4e5vjf1sg99p</string>
	<key>API_KEY</key>
	<string>AIzaSyDQwvQPjCbKlz1acwJj95kUNiIMqTzN6Ak</string>
	<key>GCM_SENDER_ID</key>
	<string>619675881357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harshitgarg.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flashchat04</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619675881357:ios:a79b4a549935d3359877c4</string>
</dict>
</plist>